<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    
    <h1>Cupcakes</h1>
    <label for="searchCupcake">Search Cupcake: </label>
    <input type="text" id="searchCupcake" placeholder="Cupcake term here!">

    <div id="cupcakesList"></div>


    <!-- <form id="addCupcake">
        <label for="cupcakeFlavor">Cupcake Flavor</label>
        <input id="cupcakeFlavor" type="text" required placeholder="Give a cupcake flavor">

        <label for="cupcakeRating">Cupcake Rating</label>
        <input id="cupcakeRating" type="number" required placeholder="Give a number for the rating!">

        <label for="cupcakeSize">Cupcake Size</label>
        <input id="cupcakeSize" type="text" required placeholder="Give a cupcake size">

        <label for="cupcakeImage">Cupcake Image</label>
        <input id="cupcakeImage" type="url" placeholder="Give a URL of the image">

        
    </form> -->

    <hr>

    <h2>Add Cupcakes!</h2>

    <form id="addCupcake">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        
        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>

        {% endfor %}

        <button type="submit">Add a cupcake!</button>
    </form>


    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="http://unpkg.com/jquery"></script>
    <script src="static/main.js"></script>
</body>
</html>